{% extends 'TTTravelBundle::layout.html.twig' %}

{% block ec_body %}

        <h3><span class="glyphicon glyphicon-chevron-right"></span>Votre billet:</h3>
    </br>
        <div class="col-md-2">
            <span class="glyphicon glyphicon-asterisk"> </span>Heure
        </div>
                <div class="col-md-2">
            idTrain
        </div>
        <div class="col-md-4">
            Nom ville A
        </div>
        <div class="col-md-4">
            Nom villaB
        </div>
    </br>
            <div class="col-md-5">
            </div>
            <div class="col-md-7">

                <button type="Submit" class="btn btn-danger">Réserver</button>
            </div>
  

{% endblock %}

