{% extends 'TTTravelBundle::layout.html.twig' %}

{% block ec_body %}
    <h1>Réservez votre  Train  <span class="glyphicon glyphicon-briefcase"> </span></h1>
    </br>    
    {{ render(controller("TTTravelBundle:Main:search")) }}
{% endblock %}
