{% extends 'TTTravelBundle::layout.html.twig' %}

{% block ec_body %}

        
        <h3><span class="glyphicon glyphicon-chevron-right"></span>Aller : (Destination) pour (la date)</h3>
    </br>
        <div class="col-md-2">
            <span class="glyphicon glyphicon-asterisk"> </span>Heure
        </div>
                <div class="col-md-2">
            idTrain
        </div>
        <div class="col-md-4">
            Nom ville A
        </div>
        <div class="col-md-4">
            Nom villaB
        </div>


<!--
        <span class="glyphicon glyphicon-chevron-left"></span>
        Retour : (Destination)
        <div class="col-sm-6 col-md-4">
            mes Trains !!!!
</di>
-->

  

{% endblock %}
