{% extends 'TTTravelBundle::layout.html.twig' %}

{% block ec_body %}

<span class="glyphicon glyphicon-chevron-right"></span>
Aller : (Destination)
<div class="col-sm-6 col-md-4">
    mes Trains !!!!
</di>

<span class="glyphicon glyphicon-chevron-left"></span>
Retour : (Destination)
<div class="col-sm-6 col-md-4">
    mes Trains !!!!
</di>

  

{% endblock %}
